version: '2'

services:

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    restart: always

  kafka:
    image: wurstmeister/kafka:2.11-2.0.1
    ports:
      - "9092:9092"
    environment:
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime
    depends_on:
      - zookeeper
    restart: always

  api:
    image: sodafoundation/crystal-api
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs
      - /etc/localtime:/etc/localtime
      - /var/log/crystal:/var/log/crystal
      - ./examples/crystal.conf:/etc/crystal/crystal.conf
    ports:
      - 8089:8089
    environment:
      - MICRO_SERVER_ADDRESS=:8089
      - MICRO_REGISTRY=mdns
      - OS_AUTH_AUTHSTRATEGY=keystone
      - OS_AUTH_URL=http://$HOST_IP/identity
      - OS_USER_DOMIN_ID=Default
      - OS_USERNAME=opensds
      - OS_PASSWORD=opensds@123
      - OS_PROJECT_NAME=service
      - TRANSFER_SPEED_MIN=10   #Bytes/Sec
      - SVC_FLAG=ctrl
    restart: always

  s3api:
    image: sodafoundation/crystal-api
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs
      - /etc/localtime:/etc/localtime
      - /var/log/crystal:/var/log/crystal
      - ./examples/crystal.conf:/etc/crystal/crystal.conf
    ports:
      - 8090:8090
    environment:
      - MICRO_SERVER_ADDRESS=:8090
      - MICRO_REGISTRY=mdns
      - OS_AUTH_AUTHSTRATEGY=keystone
      - OS_AUTH_URL=http://$HOST_IP/identity
      - OS_USER_DOMIN_ID=Default
      - OS_USERNAME=opensds
      - OS_PASSWORD=opensds@123
      - OS_PROJECT_NAME=service
      - TRANSFER_SPEED_MIN=10   #Bytes/Sec
      - SVC_FLAG=s3
    restart: always

  backend:
    image: sodafoundation/crystal-backend
    environment:
      - MICRO_REGISTRY=mdns
      - DB_HOST=datastore:27017
    volumes:
      - /etc/localtime:/etc/localtime
      - /var/log/crystal:/var/log/crystal
      - ./examples/crystal.conf:/etc/crystal/crystal.conf
    depends_on:
      - datastore
    restart: always

  redis:
    image: redis
    container_name: redis
    command: redis-server
    ports:
      - "6379:6379"
    restart: always

  aksk:
    image: sodafoundation/crystal-aksk
    environment:
      - MICRO_REGISTRY=mdns
      - IAM_HOST=$HOST_IP
    volumes:
      - /etc/localtime:/etc/localtime
      - /var/log/crystal:/var/log/crystal
      - ./examples/crystal.conf:/etc/crystal/crystal.conf
  
  metadata:
    image: sodafoundation/crystal-metadata
    depends_on:
      - keydb
    environment:
      - MICRO_REGISTRY=mdns
      - DB_HOST=datastore:27017
      # use container-name of keydb:container port of keydb as the value
      - KEY_DB_URI=keydb:6380
    volumes:
      - /etc/localtime:/etc/localtime
      - /var/log/crystal:/var/log/crystal
      - ./examples/crystal.conf:/etc/crystal/crystal.conf
    restart: always

  keydb:
    image: eqalpha/keydb:x86_64_v6.2.2
    container_name: keydb
    ports:
      - "6380:6380"
    volumes:
      - ./examples/keydb.conf:/etc/keydb/keydb.conf
    restart: always

  block:
    image: sodafoundation/crystal-block
    environment:
      - MICRO_REGISTRY=mdns
      - DB_HOST=datastore:27017
    volumes:
      - /etc/localtime:/etc/localtime
      - /var/log/crystal:/var/log/crystal
      - ./examples/crystal.conf:/etc/crystal/crystal.conf
    depends_on:
      - datastore
    restart: always
  
  s3:
    image: sodafoundation/crystal-s3
    environment:
      - MICRO_REGISTRY=mdns
      - DB_HOST=tidb:4000
      # 0 means use user defined storage class, otherwise use default storage class.
      - USE_DEFAULT_STORAGE_CLASS=1
    volumes:
      - /etc/localtime:/etc/localtime
      - /var/log/crystal:/var/log/crystal
      - ./s3/pkg/conf:/etc/crystal
      - ./s3/pkg/datastore/yig/conf/:/etc/yig
      - /etc/ceph:/etc/ceph
      - ./examples/crystal.conf:/etc/crystal/crystal.conf
      - ./s3/pkg/conf/tidb.sql:/etc/config/tidb/tidb.sql
      - ./s3/pkg/datastore/yig/conf/yig.sql:/etc/config/yig/yig.sql
    depends_on:
      - redis
      - tidb
    restart: always

  datastore:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./mongodb_data:/data/db
    restart: always

  tidb:
    image: pingcap/tidb:v2.1.16
    container_name: tidb
    ports:
      - "4000:4000"
      - "10080:10080"
    volumes:
      - ./s3/tidbconf/tidb.toml:/tidb.toml:ro
      - ./tidb_data:/tmp/tidb
    command:
      - --store=mocktikv
      - --config=/tidb.toml
      - -L=info
    restart: always
